.navbar {
    padding: 30px 20px;
    /* border-bottom: black 2px solid; */
    box-shadow: 5px 5px 15px grey;
}

.navbar ul li a {
    border-bottom: 2px solid rgb(211, 211, 211);
    color: black;
    transition: ease-in-out .2s;
}

.navbar ul li :hover {
    /* background: black; */
    border-bottom: 2px solid black;
    transition: ease-in-out .2s;
}

.navbar-brand {
    margin-right: 20%;
}

.icon {
    height: 20px;
}

.current {
    font-weight: bold;
}

.highlight {
    color: red;
}


/* The animation code */

@keyframes example {
    from {
        background-position: 40px 0px;
        opacity: 0;
    }
    to {
        background-position: 10px -100px;
        opacity: 1;
    }
}

.welcome {
    background-image: url('../images/welcome.jpg');
    background-size: cover;
    background-position: 10px -100px;
    background-repeat: no-repeat;
    /* transition: ease-in-out .5s; */
    /*Animation alternative*/
    animation-name: example;
    animation-duration: 1.4s;
    height: 500px;
    border-bottom: 2px solid black;
    margin-top: 108px;
}

.actionbutton {
    padding: 10px;
    border-radius: 0;
    background: rgb(34, 34, 34);
    transition: ease-in-out .2s;
    border: 0;
}

.actionbutton:hover {
    background: black;
    transform: translateX(20px);
    transition: ease-in-out .2s;
}