@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    font-family: sans-serif;
}

.navbar {
    padding: 30px 20px;
    /* border-bottom: black 2px solid; */
    box-shadow: 5px 5px 15px grey;
}

.navbar ul li a {
    border-bottom: 2px solid rgb(211, 211, 211);
    color: black;
    transition: ease-in-out .2s;
}

.navbar ul li :hover {
    /* background: black; */
    border-bottom: 2px solid black;
    transition: ease-in-out .2s;
}

.navbar-brand {
    margin-right: 20%;
}

.navbar-brand strong {
    margin-right: 20%;
    font-family: 'Pacifico', cursive;
}

.icon {
    height: 20px;
}

.current {
    font-weight: bold;
}

.highlight {
    color: rgb(139, 89, 255);
}


/* The animation code */

@keyframes example {
    from {
        background-position: 40px 0px;
        opacity: 0;
    }
    to {
        background-position: 10px -100px;
        opacity: 1;
    }
}

.welcome {
    background-image: url('../images/welcome.jpg');
    background-size: cover;
    background-position: 10px -100px;
    background-repeat: no-repeat;
    /* transition: ease-in-out .5s; */
    /*Animation alternative*/
    animation-name: example;
    animation-duration: 1.4s;
    height: 500px;
    margin-top: 108px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 45px grey;
    z-index: 0;
}

.actionbutton {
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 0;
    background: rgb(76, 56, 255);
    transition: ease-in-out .2s;
    border: 0;
}

.actionbutton:hover {
    background: black;
    transform: translateX(20px);
    transition: ease-in-out .2s;
}

.parent {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child img {
    margin: 10px;
    height: 400px;
    padding-bottom: 60px;
    box-shadow: 10px 10px 20px grey;
    animation-name: shuffle;
    animation-duration: 1.4s;
    /* animation-iteration-count: infinite; */
    height: 400px;
    width: 500px;
    box-shadow: 1px 1px 40px #8b59ff5d;
}