@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;

}


.navbar {
    padding: 30px 20px;
    /* border-bottom: black 2px solid; */
    box-shadow: 5px 5px 15px grey;
}

.navbar ul li a {
    border-bottom: 2px solid rgb(211, 211, 211);
    color: black;
    transition: ease-in-out .2s;
}

.navbar ul li :hover {
    /* background: black; */
    border-bottom: 2px solid black;
    transition: ease-in-out .2s;
}

.navbar-brand {
    margin-right: 20%;
}

.navbar-brand strong {
    margin-right: 20%;
    font-family: 'Pacifico', cursive;
}

.icon {
    height: 20px;
}

.current {
    font-weight: bold;
}

.highlight {
    color: rgb(139, 89, 255);
}


.sub-headings {
    font-weight: bolder;
}


#typed{
    min-height: 30px;
}

/* The animation code */

@keyframes example {
    from {
        background-position: 40px 0px;
        opacity: 0;
    }

    to {
        background-position: 10px -100px;
        opacity: 1;
    }
}

.welcome {
    background-image: url('../images/welcome.jpg');
    background-size: cover;
    background-position: 10px -100px;
    background-repeat: no-repeat;
    /* transition: ease-in-out .5s; */
    /*Animation alternative*/
    animation-name: example;
    animation-duration: 1.4s;
    height: 520px;
    margin-top: 108px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 45px grey;
    z-index: 0;
}

.actionbutton {
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;
    border-radius: 0;
    background: rgb(76, 56, 255);
    transition: ease-in-out .2s;
    border: 0;
    transition: ease-in-out .2s;
}

.actionbutton:hover {
    background: black;
    transform: translateX(20px);
    transition: ease-in-out .2s;
}

.parent {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.child {
    border: #a3a3a3 1px solid;
    border-radius: 8px;
    margin: 40px 10px;
    height: 400px;
    box-shadow: 10px 10px 20px grey;
    animation-name: shuffle;
    animation-duration: 1.4s;
    /* animation-iteration-count: infinite; */
    height: 300px;
    width: 400px;
    box-shadow: 1px 1px 40px #8b59ff5d;
}

.child img {
    height: 100%;
    width: 100%;
}

.child h2 {
    text-align: center;
    background-color: rgb(160, 87, 255);
    padding: 10px 0px;
}

.illus {
    box-shadow: 1px 1px 40px #2b2a2a5d;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}


/* --------------------gallery---------------------*/


/* 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */


/* html {
    box-sizing: border-box;
    font-size: 62.5%;
} */


/* 
body {
    font-family: "Nunito", sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
} */

.container {
    width: 60%;
    margin: 2rem auto;
    border-bottom: 2px solid black;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}

/*-------------------prducts-------------------------*/


.items {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid goldenrod; */
}

.product {
    font-size: .8em;
    padding: 5px;
    margin: 20px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #333333;
    z-index: 0;
    transition: ease .5s;
    height: 280px;
    width: 400px;
    overflow: hidden;
}

.product img {
    width: 100%;
    height: 80%;
    transition: ease-in-out .3s;
    z-index: -1;
}

.product:hover img {
    transform: scale(1.5);
    transition: ease-in-out .3s;
}

.product:hover {
    height: 310px;
}


.product-title {
    margin-top: 5px;
    padding: 4px;
    background: #1b1b1b;
    color: white;
    z-index: 5;
}

.view-more {
    width: 400px;
    margin-top: 10px;
    background: #1b1b1b;
    color: white;
    padding: 10px 30px;
    text-align: center;
    transition: ease-in-out .2s;
    margin:30px auto;
}

.view-more:hover {
    background: black;
    transition: ease-in-out .2s;
}

/*----------------------------video products------------------*/

#video{
    margin: 10px auto;
    width: 100%;
    height: 500px;
}

/*----------------------------banner------------------*/


.banner{
    display: flex;
    justify-content: stretch;
    overflow: hidden;
    margin: 20px;
    box-shadow: 5px 5px 20px #494949ce;
}

.banner-details{
    background: rgb(211, 211, 211);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-details h2{
    align-self: center;
    font-weight: bolder;
}
.banner-details h4{
    width: 200px;
    align-self: center;
}


.banner-image{
    width: 500px;
    height: 400px;
    flex-grow: 3;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0 -60px; */

}

.image1{
    background-image: url('../images/products/phone1.jpg');

}

.image2{
    background-image: url('../images/products/phone2.jpg');

}

.banner-image img{
    width: 100%;
    height: 110%;
}


/*---------footer grid-------------*/


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer{
    background: rgb(56, 56, 56);
    margin-bottom: 0;
}

.grid a {
    color: rgb(255, 255, 255);
    transition: ease-in-out .2s;
}

.grid a:hover {
    transform: translateX(10px);
    transition: ease-in-out .2s;
    font-weight: bold;
}
