@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    font-family: sans-serif;
}

.navbar {
    padding: 30px 20px;
    /* border-bottom: black 2px solid; */
    box-shadow: 5px 5px 15px grey;
}

.navbar ul li a {
    border-bottom: 2px solid rgb(211, 211, 211);
    color: black;
    transition: ease-in-out .2s;
}

.navbar ul li :hover {
    /* background: black; */
    border-bottom: 2px solid black;
    transition: ease-in-out .2s;
}

.navbar-brand {
    margin-right: 20%;
}

.navbar-brand strong {
    margin-right: 20%;
    font-family: 'Pacifico', cursive;
}

.icon {
    height: 20px;
}

.current {
    font-weight: bold;
}

.highlight {
    color: rgb(139, 89, 255);
}


/* The animation code */

@keyframes example {
    from {
        background-position: 40px 0px;
        opacity: 0;
    }
    to {
        background-position: 10px -100px;
        opacity: 1;
    }
}

.welcome {
    background-image: url('../images/welcome.jpg');
    background-size: cover;
    background-position: 10px -100px;
    background-repeat: no-repeat;
    /* transition: ease-in-out .5s; */
    /*Animation alternative*/
    animation-name: example;
    animation-duration: 1.4s;
    height: 500px;
    margin-top: 108px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 45px grey;
    z-index: 0;
}

.actionbutton {
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;
    border-radius: 0;
    background: rgb(76, 56, 255);
    transition: ease-in-out .2s;
    border: 0;
    transition: ease-in-out .2s;
}

.actionbutton:hover {
    background: black;
    transform: translateX(20px);
    transition: ease-in-out .2s;
}

.parent {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.child {
    border: #a3a3a3 1px solid;
    border-radius: 8px;
    margin: 40px 10px;
    height: 400px;
    box-shadow: 10px 10px 20px grey;
    animation-name: shuffle;
    animation-duration: 1.4s;
    /* animation-iteration-count: infinite; */
    height: 300px;
    width: 400px;
    box-shadow: 1px 1px 40px #8b59ff5d;
}

.child img {
    height: 100%;
    width: 100%;
}

.child h2 {
    text-align: center;
    background-color: rgb(169, 103, 255);
    padding: 10px 0px;
}

.illus {
    box-shadow: 1px 1px 40px #2b2a2a5d;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}


/* --------------------gallery---------------------*/


/* 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */


/* html {
    box-sizing: border-box;
    font-size: 62.5%;
} */


/* 
body {
    font-family: "Nunito", sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
} */

.container {
    width: 60%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}